
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Dosis', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 35px 0;
}

.box {
    padding: 1%;
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */



header {
/*
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(imgs/keyboard.jpg);
    background-color: #f3cac6;
    background-size: cover;
*/
    height: 250px;
    background-position: center;
    background-attachment: fixed;
}


.logo-black {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 100px;
}


.main-nav {
    list-style: none;
    margin-top: 120px;
    float: right;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 90%;
}


.main-nav li {
    display: inline-block;
    margin-left: 20px;
    letter-spacing: 1px;
}

.main-nav li a:link,
.main-nav li a:visited {
    line-height: 20px;
    color: #2f2f2f;
    font-size: 75%;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
/*    color: #6b001c;*/
    color: #9d9b9b;
}

.hero-text-box {
    position: absolute;
    text-align: center;
    width: 1140px;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ----------------------------------------------- */
/* STICKY NAVI */
/* ----------------------------------------------- */


.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav { margin-top: 27px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #9d9b9b;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    color: #2f2f2f;
}

.sticky .logo-black {
    height: 40px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-bottom: 15px;
}


/* ----------------------------------------------- */
/* HEADINGS */
/* ----------------------------------------------- */


h1 {
    color: #6d6c6c;
    font-size: 200%;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    color: #6d6c6c;
    font-size: 150%;
    letter-spacing: 2px;
    font-weight: 300;
    }

h3 {
    color: #6d6c6c;
    font-size: 100%;
    letter-spacing: 2px;
    font-weight: 300;
}

h4 {
    color: #6d6c6c;
    font-size: 75%;
    letter-spacing: 2px;
    font-weight: 300;
}



/* ----------------------------------------------- */
/* PORTFOLIO */
/* ----------------------------------------------- */

.section-portfolio {
    margin: 0 13%;
}

.gallery {
    margin: auto auto 50px auto;
}

.portfolio-showcase .ph {
    width: 376px;
    height: 376px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.ph {
    width: 376px;
    height: 376px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.portfolio-showcase1 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: 0.5s;
    transform: scale(1.15);
    /* filter: grayscale(100%); */
}

.portfolio-showcase img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
    transform: scale(1.15);
    /* filter: grayscale(100%); */
}

.portfolio-showcase img:hover,
.portfolio-showcase1 img:hover {

    filter: blur(2px) brightness(60%) grayscale(100%);
    transform: scale(1.03);
}


.portfolio-showcase :not(img),
.portfolio-showcase1 :not(img) {
    position: absolute;
    top: 53%;
    z-index: 1;
    color: #fff;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}

.portfolio-showcase:hover :not(img),
.portfolio-showcase1:hover :not(img) {
    opacity: 1;
}

.portfolio-showcase h3, h2,
.portfolio-showcase1 h3, h2 {
    pointer-events: none;
}

.portfolio-showcase h3,
.portfolio-showcase1 h3 {
    top: 63%;
}

/* ----------------------------------------------- */
/* COSY */
/* ----------------------------------------------- */

.section-cosy {
   padding-top: 0;
    padding-bottom: 40px;
}

.section-cosy h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-cosy h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-cosy h4 {
  font-size: 16px;
}

.section-cosy p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

.section-cosy a:link,
.section-cosy a:visited {
  text-decoration: none;
}


.section-images {
    padding-top: 0;
}

.section-images img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: left;
}

.section-images .cos {
  object-position: center;
}


/* ----------------------------------------------- */
/* ROCCO */
/* ----------------------------------------------- */

.section-rocco {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-rocco h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-rocco h4 {
  font-size: 16px;
}

.section-rocco h3 {
  font-size: 18px;
   color: #2f2f2f;
}


.section-rocco p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

.section-rocco a:link,
.section-rocco a:visited {
  text-decoration: none;
}


.section-images {
    padding-top: 0;
}

.section-images img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: left;
}

.section-images .poster {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: right;
}


/* ----------------------------------------------- */
/* HILADOS NATURALES */
/* ----------------------------------------------- */
.section-hilados {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-hilados h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-hilados h4 {
  font-size: 16px;
}

.section-hilados h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-hilados p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

.section-hilados a:link,
.section-hilados a:visited {
  text-decoration: none;
}

/* ----------------------------------------------- */
/* WABI BOWLS */
/* ----------------------------------------------- */

.section-wabi {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-wabi h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-wabi h4 {
  font-size: 16px;
}

.section-wabi h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-wabi a:link,
.section-wabi a:visited {
  text-decoration: none;
}

.section-wabi p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

.section-images .wb {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
}

.section-images .bw {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: right;
}


/* ----------------------------------------------- */
/* SAQUERY INTERNATIONAL */
/* ----------------------------------------------- */

.section-saquery {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-saquery h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-saquery h4 {
  font-size: 16px;
}

.section-saquery h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-saquery a:link,
.section-saquery a:visited {
  text-decoration: none;
}

.section-saquery p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

.section-images .saq {
  object-position: center;
}

/* ----------------------------------------------- */
/* TSINGTAO*/
/* ----------------------------------------------- */

.section-tsingtao {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-tsingtao h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-tsingtao h4 {
  font-size: 16px;
}

.section-tsingtao h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-tsingtao a:link,
.section-tsingtao a:visited {
  text-decoration: none;
}

.section-tsingtao p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

/* ----------------------------------------------- */
/* INVERNIZZI-MATA */
/* ----------------------------------------------- */

.section-invermata {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-invermata h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-invermata h4 {
  font-size: 16px;
}

.section-invermata h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-invermata a:link,
.section-invermata a:visited {
  text-decoration: none;
}

.section-invermata p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

.section-images .inv {
  object-position: right;
}


/* ----------------------------------------------- */
/* USN */
/* ----------------------------------------------- */

.section-usn {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-usn h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-usn h4 {
  font-size: 16px;
}

.section-usn h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-usn a:link,
.section-usn a:visited {
  text-decoration: none;
}

.section-usn p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

.section-images .usn {
  object-position: center;
}

/* ----------------------------------------------- */
/* SUPER BOCK */
/* ----------------------------------------------- */

.section-superbock {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-superbock h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-superbock h4 {
  font-size: 16px;
}

.section-superbock h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-superbock a:link,
.section-superbock a:visited {
  text-decoration: none;
}

.section-superbock p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

/* ----------------------------------------------- */
/* SEVEN */
/* ----------------------------------------------- */

.section-seven {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-seven h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-seven h4 {
  font-size: 16px;
}

.section-seven h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-seven a:link,
.section-seven a:visited {
  text-decoration: none;
}

.section-seven p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

.section-images .sev {
  object-position: center;
}

.section-images .sev1 {
  object-position: top;
}

/* ----------------------------------------------- */
/* SOLYAL */
/* ----------------------------------------------- */

.section-solyal {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-solyal h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-solyal h4 {
  font-size: 16px;
}

.section-solyal h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-solyal a:link,
.section-solyal a:visited {
  text-decoration: none;
}

.section-solyal p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}


/* ----------------------------------------------- */
/* LITTLECORNER */
/* ----------------------------------------------- */

.section-littlecor {
   padding-top: 0;
   padding-bottom: 40px;
}

.section-littlecor h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    top: 0;
}

.section-littlecor h4 {
  font-size: 16px;
}

.section-littlecor h3 {
  font-size: 18px;
   color: #2f2f2f;
}

.section-littlecor a:link,
.section-littlecor a:visited {
  text-decoration: none;
}

.section-littlecor p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
}

/* ----------------------------------------------- */
/* ABOUT ME */
/* ----------------------------------------------- */


.text-center {
  text-align: center;
}

.text-center h2 {
    margin-top: 120px;
    font-size: 25px;
     color: #2f2f2f;
}

.background {
    background-image: url("imgs/hello1.jpg");
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.layer {
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-aboutme p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    color: #6d6c6c;
    text-align: justify;
    margin-bottom: 30px;
}

/* ----------------------------------------------- */
/* SERVICES */
/* ----------------------------------------------- */

.section-services {
    padding-top: 0;
}

.section-services h3 {
    text-align: center;
    margin-bottom: 50px;
}

.backgrounds {
    background-image: url("imgs/serv.jpg");
    position: relative;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.layers {
    background-color: rgba(255, 255, 255, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.content-box {
    margin: 25px 0;
    text-align: center;
}

.infor {
    text-align: justify;
    padding: 10px;
}

.infor h4 {
    margin: 50px 0 18px;
}

.infor ion-icon {
    font-size: 250%;
    margin-top: 0;
}


/* ----------------------------------------------- */
/* CONTACT */
/* ----------------------------------------------- */


.backgroundc {
    background:url("imgs/cactus.jpg");
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.layerc {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-contact h3 {
    margin-bottom: 50px;
    text-align: center;
    color: #2f2f2f;
}

.contact-text p {
    color: #6d6c6c;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 78%;
    text-align: center;
}

.copy {
    text-align: center;
}

/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.section-form {
    padding: 30px;
}

.section-form p {
    color: #6d6c6c;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 68%;
    text-align: left;
    float: right;
}

.section-form h4 {
    margin-bottom: 20px;
}

.section-form ion-icon {
    font-size: 130%;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 6px 12px;
    border: 2px solid #eee;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 60%;
    border-radius: 2px;
    line-height: 1.42857143;
}

textarea.form-control {
    height: auto;
}



/* --- Button Submit --- */

.btn-submit {
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 8px 37px;
    box-shadow: none;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 1.42857143;
}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */


footer {
    background-color: #f7f7f7;
    padding: 50px;
    font-size: 80%;
    color: #888;
    text-align: center;
}

.social-links {
    list-style: none;
    text-align: center;
}

.social-links li {
    font-size: 150%;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    color: #888;
    transition: color 0.2s;
}

.social-links li a:hover,
.social-links li a:active {
    text-decoration: none;
    color: #2f2f2f;
    transition: color 0.2s;
}

footer p {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 80%;
}

/*
.scroll-up a {
    background: #fff;
    float: right;
    display: block;
    height: 28px;
    width: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    color: #000;
    opacity: 0.6;
    border-radius: 2px;
}
*/
